{% extends '../layout.html' %}

{% block title %}{% endblock %}


{% block content %}

  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <a href="/books/new" class="btn btn-info">Add Book</a>
      </div>
    </div>
    <br />
    {% for book in books %}
      <div class="row">
        <a href="/books/{{ book.id }}">
          <div class="col-lg-4">
            <img src="{{ book.cover_url }}" alt="cover" width="100%" height="100%"/>
          </div>
          <div class="col-lg-8">
            <h3>
              {{ book.title }}
            </h3>
          </a>
            <h4>
              By&nbsp;
              {% for author in book.authors %}
                <a href="/authors/{{ author.id }}">{{ author.name }},</a>
              {% endfor %}
            </h4>
            <p>
              Genre: {{ book.genre }}
            </p>
            <p>
              {{ book.description }}
            </p>
          </div>
          <a href="/books/{{ book.id }}/edit" class="btn btn-success">Edit</a>
          <a href="/books/{{ book.id }}/delete" id="delete" class="btn btn-danger" onclick="delConfirm()">Delete</a>
        </div>
      <br />
    {% endfor %}
  </div>

{% endblock %}
