{% extends '../layout.html' %}

{% block title %}{% endblock %}


{% block content %}

  <div class="container">
    {% for book in books %}
      <div class="row">
        <a href="/books/{{ book.id }}">
          <div class="col-lg-4">
            <img src="{{ book.cover_url }}" alt="cover" width="100%" height="100%"/>
          </div>
          <div class="col-lg-8">
            <h3>
              {{ book.title }}
            </h3>
            <h4>
              By&nbsp;
                  {{ book.authors }}
            </h4>
            <p>
              Genre: {{ book.genre }}
            </p>
            <p>
              {{ book.description }}
            </p>
          </div>
        </div>
      </a>
      <br />
    {% endfor %}
  </div>

{% endblock %}
