{% extends '../layout.html' %}

{% block title %}{% endblock %}


{% block content %}

<div class="container">
  <div class="row">
    <div class="col-lg-4">
      <img src="{{ book.cover_url }}" alt="cover" width="100%" height="100%"/>
    </div>
    <div class="col-lg-8">
      <h3>
        {{ book.title }}
      </h3>
      <h4>
        By&nbsp;{{ book.authors }}
      </h4>
      <h4> Genre: {{ book.genre }}</h4>
      <p>
        {{ book.description }}
      </p>
    </div>
  </div>
</div>

{% endblock %}
