{% extends 'layout.html' %}

{% block title %}{% endblock %}


{% block content %}

<div class="container">
  <div class="row">
    <div class="col-lg-6">
      <a href="/books">
        <div class="biggest-button books"></div>
        <p class="big-button-label text-center">Books</p>
      </a>
    </div>
    <div class="col-lg-6">
      <a href="/authors">
        <div class="biggest-button authors"></div>
        <p class="big-button-label text-center">Authors</p>
      </a>
    </div>
  </div>
</div>

{% endblock %}
