body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: none;
  color: black;
}

.navbar-brand img {
  height: 50px;
  width: 50px;
  padding: 5px;
  margin-top: -15px;
}

.biggest-button {
  height: 400px;
  width: 100%;
}

.books {
  background-image: url('../images/books.jpg');
  height: 400px;
  width: 100%;
  background-repeat: no-repeat;
}

.authors {
  background-image: url('../images/authors.jpg');
  height: 400px;
  width: 100%;
  background-repeat: no-repeat;
}

.big-button-label {
  font-size: 3em;
  color: black;
  margin: 0 auto;
}
